.registration {
    width: 560px;
    height: 714px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("../img/auto2.jpg");
    background-position: 70% 70%;
    box-shadow: inset 0 0 0 100000px rgba(38, 55, 110, 0.8);
    color: white;
}
.container {
     
    width: 80%;
    margin: 0 auto;
}

.nav_menu {
    overflow: hidden;
}
.nav {
  
    float: left;
    margin-right: 10px;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #68718e ;
    margin-top: 94px;
    margin-bottom: 11px;
    border-bottom: 3px solid transparent;
}

.nav:hover {
    color: white;
    border-bottom: blue solid 3px;
}


.nav:last-child {
    padding-left: 10px;
}



.top_part {
    padding-bottom: 63px;
    border-bottom: solid 3px #68718e;
    margin-bottom: 55px;
}

.revive {
    color: #68718e ;
    padding-left: 130px;
}

.box_blue {
    display: none;
}

.check_label {
    display: block;
    width: 17px;
    height: 17px;
    background-color: #015ef7;
    position:relative;
    float:left;
}
.box_blue:checked ~ .check_label:before {
    content: "\2714" ;
    position: absolute;
    left: 3px;
    top: -3px; 
}
.checkbox_desc {
    float: left;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    
}

.field_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: #a9a99d;
}


.textarea {
    width: 80%;
    height: 46px;
    background-color: rgba(168, 186, 245, 0.2);
    border: none;
    border-radius: 30px;
}

.button {
    margin-top: 16px;
    width: 80%;
    height: 46px;
    background-color: #015ef7;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;

}


.forget_password {
    color: #68718e ;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
