@font-face {
    font-family: 'Fontello' ;
    src: url('../fonts/fontello.woff2')
}


.login_form {
    width: 850px;
    height: 850px;
    background-image: url("../img/cloud1.jpg");
    background-size: cover;
}

.container {
    width:600px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 441px;
   
}

.text_area {
    width: 80%;
    height: 104px;
    margin-bottom: 30px;
    background-color: #3b4148;
    padding-left: 30px;
    box-sizing: border-box;
    border-right:solid 2px black;
    border-top:solid 2px black;
    border-bottom:solid 2px black;
    border-left: transparent;
    border-radius: 0 10px 10px 0;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6367;
    
    
}

#password {
    letter-spacing: 2px;
}

.label_login {
    display: block;
    width:104px;
    height: 104px;
    background-color: #353a40;
    font-family: 'Fontello';
    color: #5f6367;
    font-size: 30px;
    clear: both;
    float: left;
    box-sizing: border-box;
    padding: 36px ;
    border-left:solid 2px black;
    border-top:solid 2px black;
    border-bottom:solid 2px black;
    border-right: transparent;
    border-radius: 10px 0 0 10px;
}



.label_password {
    display: block;
    width:104px;
    height: 104px;
    background-color: #353a40;
    font-family: 'Fontello';
    color: #5f6367;
    font-size: 30px;
    clear: both;
    float: left;
    box-sizing: border-box;
    padding: 36px ;
    border-left:solid 2px black;
    border-top:solid 2px black;
    border-bottom:solid 2px black;
    border-right: transparent;
    border-radius: 10px 0 0 10px;
}

.button {
    width: 584px;
    background-color: #ea4c88;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 39px 0;
    border-radius: 10px;
    border-color:#e93d7e;
    
}